﻿<!DOCTYPE html>
<html>
<head>
    <title>Fashion Mania</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Fashion Mania Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- start menu -->
    <link href="~/Content/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Content/js/memenu.js"></script>
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    <script src="~/Content/js/simpleCart.min.js"> </script>
    <!-- slide -->
    <script src="~/Content/js/responsiveslides.min.js"></script>
    <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
    </script>

</head>
<body>
<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="col-sm-4 world">
                <ul>
                    <li>
                        <select class="in-drop">
                            <option>Türkçe</option>
                            <option>İngilizce</option>
                        </select>
                    </li>
                    <li>
                        <select class="in-drop1">
                            <option>Lira</option>
                            <option>Euro</option>
                            <option>Dolar</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 logo">
                <a href="index.html"><img src="~/Content/images/logo.png" alt=""></a>
            </div>

            <div class="col-sm-4 header-left">
                <p class="log">
                    <a href="account.html">Giriş</a>
                    <span>/</span><a href="account.html">Kayıt Ol</a>
                </p>
                <div class="cart box_1">
                    <a href="checkout.html">
                        <h3>
                            <div class="total">
                                <span class="simpleCart_total"></span>
                            </div>
                            <img src="~/Content/images/cart.png" alt="" />
                        </h3>
                    </a>
                    <p><a href="javascript:;" class="simpleCart_empty">Sepet Boş</a></p>

                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="container">
        <div class="head-top">
            <div class="col-sm-2 number">
                <span><i class="glyphicon glyphicon-phone"></i>0850 596 2234</span>
            </div>
            <div class="col-sm-8 h_menu4">
                <ul class="memenu skyblue">
                    <li class=" grid"><a href="index.html">Ana Sayfa</a></li>
                    <li>
                        <a href="#">Erkek</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>Hepsi</h4>
                                        <ul>
                                            <li><a href="products.html">Gömlekler</a></li>
                                            <li><a href="products.html">Spor Giyim</a></li>
                                            <li><a href="products.html">Şortlar</a></li>
                                            <li><a href="products.html">Takım & Blazer</a></li>
                                            <li><a href="products.html">Pantolonlar</a></li>
                                            <li><a href="products.html">Mayo</a></li>
                                            <li><a href="products.html">T-Shirts</a></li>
                                            <li><a href="products.html">İç Çamaşırı</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>Footwear</h4>
                                        <ul>
                                            <li><a href="products.html">Resmi Ayakkabılar</a></li>
                                            <li><a href="products.html">Botlar</a></li>
                                            <li><a href="products.html">Spor Ayakkabılar</a></li>
                                            <li><a href="products.html">Günlük Ayakkabılar</a></li>
                                            <li><a href="products.html">Koşu Ayakkabıları</a></li>
                                            <li><a href="products.html">Sneakers</a></li>
                                            <li><a href="products.html">Loafers</a></li>
                                            <li><a href="products.html">Slippers</a></li>
                                            <li><a href="products.html">Sandaletler</a></li>
                                            <li><a href="products.html">Terlikler</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>Popüler Markalar</h4>
                                        <ul>
                                            <li><a href="products.html">Levis</a></li>
                                            <li><a href="products.html">Persol</a></li>
                                            <li><a href="products.html">Nike</a></li>
                                            <li><a href="products.html">Edwin</a></li>
                                            <li><a href="products.html">New Balance</a></li>
                                            <li><a href="products.html">Jack & Jones</a></li>
                                            <li><a href="products.html">Paul Smith</a></li>
                                            <li><a href="products.html">Ray-Ban</a></li>
                                            <li><a href="products.html">Wood Wood</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="grid">
                        <a href="#">	Kadın</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>Hepsi</h4>
                                        <ul>
                                            <li><a href="products.html">Gömlekler</a></li>
                                            <li><a href="products.html">Spor Giyim</a></li>
                                            <li><a href="products.html">Takım & Blazer</a></li>
                                            <li><a href="products.html">Mayolar</a></li>
                                            <li><a href="products.html">Gecelikler</a></li>
                                            <li><a href="products.html">T-Shirts</a></li>
                                            <li><a href="products.html">Jean</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>Footwear</h4>
                                        <ul>
                                            <li><a href="products.html">Topuklular</a></li>
                                            <li><a href="products.html">Düz</a></li>
                                            <li><a href="products.html">Spor Ayakkabılar</a></li>
                                            <li><a href="products.html">Günlük Ayakkabılar</a></li>
                                            <li><a href="products.html">Koşu Ayakkabıları</a></li>
                                            <li><a href="products.html">Bootlar</a></li>
                                            <li><a href="products.html">Slippers</a></li>
                                            <li><a href="products.html">Flip-flops</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>Popülar Markalar</h4>
                                        <ul>
                                            <li><a href="products.html">Levis</a></li>
                                            <li><a href="products.html">Persol</a></li>
                                            <li><a href="products.html">Nike</a></li>
                                            <li><a href="products.html">Edwin</a></li>
                                            <li><a href="products.html">New Balance</a></li>
                                            <li><a href="products.html">Jack & Jones</a></li>
                                            <li><a href="products.html">Paul Smith</a></li>
                                            <li><a href="products.html">Ray-Ban</a></li>
                                            <li><a href="products.html">Wood Wood</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="typo.html">Blog</a></li>
                    <li><a class="color6" href="contact.html">İletişim</a></li>
                </ul>
            </div>
            <div class="col-sm-2 search">
                <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i class="glyphicon glyphicon-search"> </i> </a>
            </div>
            <div class="clearfix"> </div>
            <!---pop-up-box---->
            <script type="text/javascript" src="~/Content/js/modernizr.custom.min.js"></script>
            <link href="~/Content/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
            <script src="~/Content/js/jquery.magnific-popup.js" type="text/javascript"></script>
            <!---//pop-up-box---->
            <div id="small-dialog" class="mfp-hide">
                <div class="search-top">
                    <div class="login">
                        <input type="submit" value="">
                        <input type="text" value="Birşeyler yaz..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                    </div>
                    <p>Alışveris</p>
                </div>
            </div>
            <script>
					$(document).ready(function() {
					$('.popup-with-zoom-anim').magnificPopup({
						type: 'inline',
						fixedContentPos: false,
						fixedBgPos: true,
						overflowY: 'auto',
						closeBtnInside: true,
						preloader: false,
						midClick: true,
						removalDelay: 300,
						mainClass: 'my-mfp-zoom-in'
					});

					});
            </script>
            <!---->
        </div>
    </div>
</div>
    @RenderBody()
</body>
</html>
